<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="shortcut icon" href="../../public/assets/rocketseat.jpg">
    <title>Rocketseat Desafio</title>
</head>
<body>
    <header class="header">

        <img src="../../public/assets/logo.svg" alt="Logo Rocketseat" >
    
        <div class="links">
            <div class="item"><a href="sobre.html">Sobre a Rocketseat</a></div>
            <div class="item"><a href="conteudos.html">Conteúdos</a></div>
            <div class="item"><a target="_blank"href="https://discordapp.com/invite/gCRAFhc">Comunidade</a></div>
            <div class="item"><a href="mailto:oi@rocketseat.com.br">Email</a></div>
            <div class="item"><a href="tel:+5547992078767">Telefone</a></div>
        </div>
    </header>

        <section class="content">
            <img src="../../public/assets/code.jpg" alt="">
            <h2>Desafio 02</h2>
            <p>Hora de colocar a mão na massa e codar!</p>
            <p>Página desenvolvida durante o Bootcamp Launchbase para fixar os conteúdos sobre Front-End e cumprir o 2° Desafio proposto!</p>
        </section>
    
</body>
</html>