<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/styles/style.css">
    <link rel="stylesheet" href="../../public/styles/sobre.css">
    <link rel="shortcut icon" href="../../public/assets/rocketseat.jpg">
    <title>Rocketseat</title>
</head>
<body>
    <header class="header">

        <img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="Logo Rocketseat" >
    
        <div class="links">
            <div class="item"><a href="sobre.html">Sobre</a></div>
            <div class="item"><a target="_blank"href="https://discordapp.com/invite/gCRAFhc">Comunidade</a></div>
            <div class="item"><a href="mailto:oi@rocketseat.com.br">Email</a></div>
            <div class="item"><a href="tel:+5547992078767">Telefone</a></div>
        </div>
    </header>
</body>
</html>