<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/sobre.css">
    <link rel="shortcut icon" href="../../public/assets/rocketseat.jpg">
    <script src="https://kit.fontawesome.com/5037bef4b8.js" crossorigin="anonymous"></script>
    <title>Rocketseat</title>
</head>

<body>
    <header class="header">

        <img src="../../public/assets/logo.svg" alt="Logo Rocketseat">

        <div class="links">
            <div class="item"><a href="index.html">Home</a></div>
            <div class="item"><a href="conteudos.html">Conteúdos</a></div>
            <div class="item"><a target="_blank" href="https://discordapp.com/invite/gCRAFhc">Comunidade</a></div>
            <div class="item"><a href="mailto:oi@rocketseat.com.br">Email</a></div>
            <div class="item"><a href="tel:+5547992078767">Telefone</a></div>
        </div>
    </header>

    <section class="about">
        <img src="../../public/assets/rocketseat.jpg" alt="">

        <h2>Sobre a Rocketseat</h2>


        <div class="text">
            <p align="justify">Mais do que uma plataforma de educação em tecnologia, a Rocketseat é uma comunidade
                incrível de programadores em busca do próximo nível 🚀 </p>

            <p align="justify">A Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de
                comunidade, eventos,
                conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no
                menor tempo possível
                as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível
                como programador.</p>

            <div class="info">
                <h4>Principais Tecnologias</h4>
                <h4 class="social-nets">Redes Sociais</h4>
            </div>


            <div class="contents">
                
                <div class="images">
                    <img src="../../public/assets/javascript.svg" alt="">
                    <img src="../../public/assets/nodejs.svg" alt="">
                    <img src="../../public/assets/reactjs.svg" alt="">
                    <img src="../../public/assets/react-native.svg" alt="">
                </div>

                <div class="social">
                    <a href="https://github.com/Rocketseat" id="github" target="_blank">
                        <i class="fab fa-github"></i>
                        <a href="https://www.facebook.com/rocketseat id=" id="facebook" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/rocketseat_oficial/" id="insta" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                </div>
            </div>

        </div>



    </section>

</body>

</html>